Repository bounswe/2021SpringGroup3, pull requests merged in 2021-11, with the labels that each got.

#205 Mobile/feature/ Issue 199 Login Page
  mobile/CmpE451_App/App.js
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/colors.js
  mobile/CmpE451_App/src/config.js
  mobile/CmpE451_App/src/screen/Login.js
Labels: Type: Feature, Component: Mobile

#207 Add axios configuration
  mobile/.DS_Store
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/colors.js
  mobile/CmpE451_App/src/config.js
  mobile/CmpE451_App/src/screen/Login.js
Labels: Component: Configuration, Component: Mobile

#208 Change project structure for constants, colors and axios
  mobile/CmpE451_App/src/constants.js
  mobile/CmpE451_App/src/services/axiosCientService.js
  mobile/CmpE451_App/src/theme/colors.js
Labels: Component: Mobile

#210 Add left navigator to the mobile
  mobile/CmpE451_App/App.js
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/constants.js
  mobile/CmpE451_App/src/screen/Chat.js
  mobile/CmpE451_App/src/screen/CreateCommunity.js
  mobile/CmpE451_App/src/screen/Login.js
  mobile/CmpE451_App/src/screen/Logout.js
  mobile/CmpE451_App/src/screen/Main.js
  mobile/CmpE451_App/src/screen/Notification.js
  mobile/CmpE451_App/src/screen/Profile.js
  mobile/CmpE451_App/src/screen/Settings.js
  mobile/CmpE451_App/src/services/axiosCientService.js
  mobile/CmpE451_App/src/theme/colors.js
  mobile/CmpE451_App/src/theme/styles.js
Labels: Type: Feature, Component: Mobile

#216 Add choose a community page
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/constants.js
  mobile/CmpE451_App/src/screen/SelectCommunity.js
  mobile/CmpE451_App/src/screen/SelectDataType.js
  mobile/CmpE451_App/src/theme/colors.js
Labels: Type: Feature, Component: Mobile

#218 Implement design of post component
  web/.gitignore
  web/README.md
  web/package-lock.json
  web/package.json
  web/public/favicon.ico
  web/public/index.html
  web/public/logo192.png
  web/public/logo512.png
  web/public/manifest.json
  web/public/robots.txt
  web/src/App.css
  web/src/App.js
  web/src/components/FieldContent.js
  web/src/components/Post.js
  web/src/index.css
  web/src/index.js
  web/src/reportWebVitals.js
Labels: Type: Design, Status: Review Needed, Component: Web

#227 Add create post type functionality
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/constants.js
  mobile/CmpE451_App/src/screen/CreatePostType.js
  mobile/CmpE451_App/src/screen/SelectModeratorCommunity.js
Labels: Type: Feature, Component: Mobile

#250 Implementation of Getting Post Details and Post Type Details
  backend/src/controllers/post.controller.js
  backend/src/controllers/postType.controller.js
  backend/src/models/user.js
  backend/src/routes/post.route.js
  backend/src/routes/postType.route.js
  backend/src/services/post.service.js
  backend/src/services/postType.service.js
  backend/src/utils/formatters.js
  backend/src/validations/post.validation.js
  backend/src/validations/postType.validation.js
Labels: Type: Feature, Status: Review Needed, Priority: Severe, Component: Backend

#219 Implement login page design
  .github/workflows/main.yml
  deliverables/Group 3 Plan.pdf
  deliverables/Group 3 Updated Plan.pod
  deliverables/Project Plan Updated.pdf
  images/ProjectPlan/plan1.png
  images/ProjectPlan/plan2.png
  images/ProjectPlan/plan3.png
  images/ProjectPlan/plan4.png
  images/ProjectPlan/plan5.png
  images/ProjectPlan/plan6.png
  images/ProjectPlan/plan7.png
  images/ProjectPlan/plan8.png
  web/package-lock.json
  web/src/App.js
  web/src/components/Login.js
  web/src/index.css
Labels: Type: Design, Status: Revision Needed, Component: Web

#228 Implementing Confirmation Page Design
  web/src/App.js
  web/src/components/Confirmation.js
  web/src/components/Login.js
Labels: Type: Feature, Type: Design, Status: Available, Priority: Medium, Component: Web

#245 Implementing Navigation Bar Design
  web/src/components/NavBar.js
Labels: Type: Feature, Type: Design, Status: Completed, Priority: High, Component: Web

#246 Implementing the About Community Component
  web/src/components/AboutCommunity.js
Labels: Type: Design, Status: Available, Priority: High, Component: Web

#249 Implementing the Create Community Component
  web/src/components/CreateCommunity.js
Labels: Type: Feature, Type: Design, Status: Completed, Priority: High, Component: Web

#256 general bug fixes and swagger update
  backend/resource/swagger.json
  backend/src/app.js
  backend/src/config/roles.js
  backend/src/controllers/post.controller.js
  backend/src/middlewares/auth.js
  backend/src/models/post.js
  backend/src/models/postType.js
  backend/src/models/user.js
  backend/src/routes/auth.route.js
  backend/src/routes/community.route.js
  backend/src/routes/post.route.js
  backend/src/routes/postType.route.js
  backend/src/services/post.service.js
  backend/src/services/postType.service.js
  backend/src/utils/formatters.js
  backend/src/validations/post.validation.js
  backend/src/validations/postType.validation.js
Labels: Priority: Severe, Component: Backend

#253 Mobile: Logout
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/constants.js
  mobile/CmpE451_App/src/screen/PostDetail.js
Labels: Type: Feature, Component: Mobile

#258 Mobile/feature/257 create community
  mobile/CmpE451_App/src/.AppNavigator.js.swp
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/component/CommunityCheckList.js
  mobile/CmpE451_App/src/component/Header.js
  mobile/CmpE451_App/src/component/HeaderForMainPage.js
  mobile/CmpE451_App/src/screen/Chat.js
  mobile/CmpE451_App/src/screen/CreateCommunity.js
  mobile/CmpE451_App/src/screen/Login.js
  mobile/CmpE451_App/src/screen/Notification.js
  mobile/CmpE451_App/src/screen/Registration.js
  mobile/CmpE451_App/src/screen/SelectPostType.js
Labels: Type: Feature, Component: Mobile

#252 Implement profile view and edit pages
  web/src/App.js
  web/src/colors.js
  web/src/components/FieldContent.js
  web/src/components/Post.js
  web/src/components/ProfileEdit.js
  web/src/components/ProfileView.js
Labels: Type: Feature, Status: Completed, Priority: High, Component: Web

#259 fix swagger typos
  backend/resource/swagger.json
Labels: Component: Backend

#262 Web/feature/axios routing
  web/package-lock.json
  web/package.json
  web/src/App.js
  web/src/components/CreatePost.js
  web/src/components/CreatePostForm.js
  web/src/components/Login.js
  web/src/components/Registration.js
  web/src/history.js
  web/src/index.js
  web/src/pages/ConfirmationPage.js
  web/src/pages/HomePage.js
  web/src/pages/LoginPage.js
  web/src/pages/RegistrationPage.js
  web/src/routing/AuthRoute.js
  web/src/routing/PublicRoute.js
  web/src/routing/RouteList.js
  web/src/store/actions/loginActions.js
  web/src/store/axios.js
  web/src/store/reducers/index.js
  web/src/store/reducers/loginReducers.js
  web/src/store/store.js
  web/src/store/types.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Status: Review Needed, Priority: High, Component: Web

#267 Change axios to fetch
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/constants.js
  mobile/CmpE451_App/src/screen/CreateCommunity.js
  mobile/CmpE451_App/src/screen/CreatePostType.js
  mobile/CmpE451_App/src/screen/Login.js
  mobile/CmpE451_App/src/screen/Registration.js
  mobile/CmpE451_App/src/screen/SelectCommunity.js
  mobile/CmpE451_App/src/screen/SelectModeratorCommunity.js
  mobile/CmpE451_App/src/screen/SelectPostType.js
  mobile/CmpE451_App/src/services/axiosCientService.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Bug, Component: Mobile

#272 Backend/feature/community details
  backend/resource/swagger.json
  backend/src/controllers/community.controller.js
  backend/src/controllers/postType.controller.js
  backend/src/routes/community.route.js
  backend/src/services/community.service.js
  backend/src/utils/baseUtil.js
  backend/src/utils/formatters.js
  backend/src/validations/community.validation.js
Labels: Status: Completed, Priority: Severe, Component: Backend

#273 Use async storage for token
  mobile/CmpE451_App/.gitignore
  mobile/CmpE451_App/android/app/src/main/java/com/cmpe451_app/MainApplication.java
  mobile/CmpE451_App/android/settings.gradle
  mobile/CmpE451_App/ios/Podfile
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/constants.js
  mobile/CmpE451_App/src/screen/CreateCommunity.js
  mobile/CmpE451_App/src/screen/CreatePostType.js
  mobile/CmpE451_App/src/screen/Login.js
  mobile/CmpE451_App/src/screen/Registration.js
  mobile/CmpE451_App/src/screen/SelectCommunity.js
  mobile/CmpE451_App/src/screen/SelectModeratorCommunity.js
  mobile/CmpE451_App/src/screen/SelectPostType.js
  mobile/CmpE451_App/src/services/asyncStorageService.js
  mobile/CmpE451_App/src/services/axiosCientService.js
  mobile/CmpE451_App/src/util/Reguests.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Enhancement, Component: Mobile

#278 Mobile/feature/243 post detail
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/constants.js
  mobile/CmpE451_App/src/screen/PostDetail.js
  mobile/CmpE451_App/src/screen/Registration.js
  mobile/CmpE451_App/src/screen/Settings.js
  mobile/CmpE451_App/src/theme/colors.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Feature, Component: Mobile
