Repository bounswe/2021SpringGroup3, pull requests merged in 2021-12, with the labels that each got.

#298 Reimplement Create Post Page
  mobile/CmpE451_App/App.js
  mobile/CmpE451_App/android/app/build.gradle
  mobile/CmpE451_App/android/app/src/debug/AndroidManifest.xml
  mobile/CmpE451_App/android/app/src/main/java/com/cmpe451_app/MainApplication.java
  mobile/CmpE451_App/android/settings.gradle
  mobile/CmpE451_App/ios/Podfile
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/component/CloseButton.js
  mobile/CmpE451_App/src/component/CommonButton.js
  mobile/CmpE451_App/src/component/ConfirmButton.js
  mobile/CmpE451_App/src/component/DynamicFormField.js
  mobile/CmpE451_App/src/component/FieldHeader.js
  mobile/CmpE451_App/src/screen/CreatePost.js
  mobile/CmpE451_App/src/screen/SelectCommunity.js
  mobile/CmpE451_App/src/screen/SelectPostType.js
  mobile/CmpE451_App/src/theme/colors.js
  mobile/CmpE451_App/src/theme/styles.js
  mobile/CmpE451_App/src/util/Requests.js
  mobile/CmpE451_App/yarn.lock
Labels: Component: Mobile

#301 Backend/feature/milestone2
  backend/src/controllers/community.controller.js
  backend/src/controllers/profile.controller.js
  backend/src/models/user.js
  backend/src/routes/community.route.js
  backend/src/routes/index.js
  backend/src/routes/profile.route.js
  backend/src/services/community.service.js
  backend/src/services/index.js
  backend/src/services/profile.service.js
  backend/src/utils/formatters.js
  backend/src/validations/community.validation.js
  backend/src/validations/profile.validation.js
Labels: Priority: Medium, Component: Backend

#304 List Member, Moderator and All Communities
  .DS_Store
  mobile/.DS_Store
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/component/TabScreen.js
  mobile/CmpE451_App/src/screen/Communities.js
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/CreatePost.js
  mobile/CmpE451_App/src/screen/SelectCommunity.js
  mobile/CmpE451_App/src/screen/SelectPostType.js
  mobile/CmpE451_App/src/services/BoxyClient.js
  mobile/CmpE451_App/src/theme/styles.js
  mobile/CmpE451_App/yarn.lock
Labels: Component: Mobile

#303 Community model fix: description and isPrivate added
  backend/src/controllers/community.controller.js
  backend/src/models/community.js
  backend/src/services/community.service.js
  backend/src/utils/formatters.js
Labels: Type: Enhancement, Status: Review Needed, Priority: Medium, Component: Backend

#307 Update Location Data Structure for Create Post
  mobile/CmpE451_App/src/component/DynamicFormField.js
  mobile/CmpE451_App/src/screen/CreatePost.js
Labels: Type: Enhancement, Component: Mobile

#310 Backend:Formatter & validator fix for description of community
  backend/src/models/user.js
  backend/src/validations/community.validation.js
Labels: Type: Bug, Status: Review Needed, Priority: Medium, Component: Backend

#309 Mobile: Create Community Enhancement
  mobile/CmpE451_App/src/screen/CreateCommunity.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Enhancement, Component: Mobile

#317 Mobile: Community detail part of community screen
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/component/CloseButton.js
  mobile/CmpE451_App/src/component/TabScreen.js
  mobile/CmpE451_App/src/screen/Communities.js
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/CreateCommunity.js
  mobile/CmpE451_App/src/screen/CreatePost.js
  mobile/CmpE451_App/src/services/BoxyClient.js
  mobile/CmpE451_App/src/theme/colors.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Feature, Priority: Medium, Component: Mobile

#312 Swagger doc updated
  backend/resource/swagger.json
Labels: Type: Documentation, Status: Review Needed, Priority: Medium, Type: Organization, Component: Wiki

#319 Mobile: Update Choose Community and Create Post Type Design
  mobile/CmpE451_App/src/component/CloseButton.js
  mobile/CmpE451_App/src/component/DeleteButton.js
  mobile/CmpE451_App/src/screen/CreatePostType.js
  mobile/CmpE451_App/src/screen/SelectModeratorCommunity.js
Labels: Type: Enhancement, Type: Design, Priority: Medium, Component: Mobile

#324 Backend: Milestone 2 Updates
  backend/src/controllers/community.controller.js
  backend/src/controllers/post.controller.js
  backend/src/controllers/profile.controller.js
  backend/src/models/post.js
  backend/src/models/user.js
  backend/src/routes/community.route.js
  backend/src/routes/post.route.js
  backend/src/routes/profile.route.js
  backend/src/services/community.service.js
  backend/src/services/post.service.js
  backend/src/services/profile.service.js
  backend/src/utils/formatters.js
Labels: Type: Feature, Type: Enhancement, Status: Review Needed, Priority: Medium, Component: Backend

#321 Mobile: Join Community Functionality
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#343 Mobile: Settings Screen
  mobile/CmpE451_App/src/screen/Settings.js
Labels: Type: Enhancement, Priority: Medium, Component: Mobile

#353 Backend/feature/update password
  backend/src/controllers/auth.controller.js
  backend/src/routes/auth.route.js
  backend/src/services/auth.service.js
  backend/src/validations/auth.validation.js
Labels: Priority: High, Component: Backend

#352 Backend/feature/update community
  backend/src/controllers/community.controller.js
  backend/src/routes/community.route.js
  backend/src/services/community.service.js
  backend/src/validations/community.validation.js
Labels: Priority: High, Component: Backend

#350 Backend/feature/post comments
  backend/src/controllers/post.controller.js
  backend/src/models/comment.js
  backend/src/models/index.js
  backend/src/routes/post.route.js
  backend/src/services/post.service.js
  backend/src/services/profile.service.js
  backend/src/utils/formatters.js
  backend/src/validations/post.validation.js
Labels: Priority: High, Component: Backend

#349 approve and reject endpoints for join requests
  backend/src/controllers/community.controller.js
  backend/src/routes/community.route.js
  backend/src/services/community.service.js
  backend/src/utils/baseUtil.js
  backend/src/validations/community.validation.js
Labels: Priority: High, Component: Backend

#354 Mobile/feature/297 post detail
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/screen/PostDetail.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Component: Mobile

#356 Mobile: About and Members Tabs to the Community Detail
  mobile/CmpE451_App/src/component/HomeButton.js
  mobile/CmpE451_App/src/component/UserList.js
  mobile/CmpE451_App/src/screen/Communities.js
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/CreateCommunity.js
  mobile/CmpE451_App/src/screen/CreatePostType.js
  mobile/CmpE451_App/src/screen/SelectModeratorCommunity.js
  mobile/CmpE451_App/src/screen/Settings.js
  mobile/CmpE451_App/src/theme/styles.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#358 endpoint to become a mod
  backend/src/controllers/community.controller.js
  backend/src/models/community.js
  backend/src/routes/community.route.js
  backend/src/services/community.service.js
  backend/src/utils/formatters.js
Labels: Priority: Low, Component: Backend

#367 Mobile: Add Accept & Reject Join Community Request Functionality
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/component/CommonIcon.js
  mobile/CmpE451_App/src/component/UserList.js
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/PendingRequests.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#360 approve and reject endpoints for moderator requests
  backend/src/controllers/community.controller.js
  backend/src/routes/community.route.js
  backend/src/services/community.service.js
Labels: Priority: Low, Component: Backend

#371 Mobile: Leave community
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/PendingRequests.js
  mobile/CmpE451_App/src/services/BoxyClient.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Feature, Priority: High, Component: Mobile

#373 Mobile: Kick Member From Community
  mobile/CmpE451_App/src/component/TabScreen.js
  mobile/CmpE451_App/src/component/UserList.js
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: High, Component: Mobile

#377 Mobile: Add request to be moderator functionality
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/CreatePost.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#382 Mobile/feature/366 home page
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/screen/Home.js
  mobile/CmpE451_App/src/screen/Main.js
  mobile/CmpE451_App/src/screen/PostDetail.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Priority: High, Component: Mobile

#384 Mobile: Implement Accept&Reject Moderator Requests
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/PendingRequests.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#386 Mobile: Delete Account
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/screen/Settings.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#388 Edit Profile and View Profile pages implemented
  web/package-lock.json
  web/package.json
  web/src/components/GetCommunities.js
  web/src/components/NavBar.js
  web/src/components/ProfileEdit.js
  web/src/components/ProfileView.js
  web/src/pages/GetCommunityPage.js
  web/src/pages/ProfileEditPage.js
  web/src/pages/ProfilePage.js
  web/src/routing/RouteList.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Feature, Status: Completed, Priority: Severe, Component: Web

#380 Implementation for Web: View Post Page
  web/public/images/BoxyHeadlineCat.psd
  web/public/images/BoxyLogoCat.psd
  web/src/App.js
  web/src/components/AboutCommunity.js
  web/src/components/CreatePostType.js
  web/src/components/FieldContent.js
  web/src/components/GetCommunities.js
  web/src/components/NavBar.js
  web/src/components/PostView.js
  web/src/pages/CreateCommunityPage.js
  web/src/pages/CreatePostTypePage.js
  web/src/pages/GetCommunityPage.js
  web/src/pages/GetPostPage.js
  web/src/pages/HomePage.js
  web/src/routing/RouteList.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/BoxyHeadlineCat.png
  web/src/utils/BoxyLogoCat.png
  web/src/utils/helper.js
  web/src/utils/logo.png
Labels: Status: Review Needed, Priority: High, Component: Web

#389 AboutCommunity component enhancement
  web/src/components/AboutCommunity.js
  web/src/components/ProfileView.js
  web/src/pages/GetCommunityPage.js
  web/src/pages/ProfilePage.js
Labels: Type: Enhancement, Status: Completed, Priority: Severe, Component: Web

#393 Add other users and connect post and profile pages
  web/src/components/AboutCommunity.js
  web/src/components/CreatePost.js
  web/src/components/CreatePostType.js
  web/src/components/PostView.js
  web/src/components/ProfileEdit.js
  web/src/pages/GetCommunityPage.js
  web/src/pages/ProfilePage.js
  web/src/routing/RouteList.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Enhancement, Status: Review Needed, Priority: Severe, Component: Web

#396 Fix location in posts
  web/src/components/CreateCommunity.js
  web/src/components/CreatePost.js
  web/src/components/FieldContent.js
  web/src/pages/ProfilePage.js
Labels: Type: Bug, Status: Review Needed, Priority: Severe

#415 Backend/feature/miletone3
  backend/package.json
  backend/src/controllers/community.controller.js
  backend/src/controllers/post.controller.js
  backend/src/controllers/postType.controller.js
  backend/src/controllers/profile.controller.js
  backend/src/models/activityStream.js
  backend/src/models/index.js
  backend/src/models/user.js
  backend/src/routes/community.route.js
  backend/src/routes/post.route.js
  backend/src/routes/postType.route.js
  backend/src/routes/profile.route.js
  backend/src/services/auth.service.js
  backend/src/services/community.service.js
  backend/src/services/post.service.js
  backend/src/services/postType.service.js
  backend/src/services/profile.service.js
  backend/src/validations/community.validation.js
  backend/src/validations/custom.validation.js
  backend/src/validations/postType.validation.js
  backend/src/validations/profile.validation.js
  backend/tests/fixtures/user.fixture.js
  backend/tests/integration/auth.test.js
  backend/tests/unit/models/user.model.test.js
  backend/tests/utils/setupTestDB.js
  backend/yarn.lock
Labels: Priority: High, Component: Backend

#422 Backend/feature/onesignal
  backend/package.json
  backend/resource/swagger.json
  backend/src/config/config.js
  backend/src/services/community.service.js
  backend/src/services/onesignal.service.js
  backend/yarn.lock
Labels: Priority: Medium, Component: Backend

#432 Mobile: Add tag post functionality
  mobile/CmpE451_App/src/screen/CreatePost.js
  mobile/CmpE451_App/src/screen/CreatePostType.js
Labels: Type: Enhancement, Component: Mobile

#434 Mobile: Delete Community Functionality
  mobile/CmpE451_App/src/screen/UpdateCommunity.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#441 Backend: Milestone 3 Updates
  backend/src/controllers/community.controller.js
  backend/src/controllers/post.controller.js
  backend/src/controllers/profile.controller.js
  backend/src/models/community.js
  backend/src/models/user.js
  backend/src/routes/community.route.js
  backend/src/routes/post.route.js
  backend/src/routes/profile.route.js
  backend/src/services/community.service.js
  backend/src/services/post.service.js
  backend/src/services/profile.service.js
  backend/src/utils/formatters.js
  backend/src/validations/post.validation.js
  backend/src/validations/profile.validation.js
Labels: Type: Feature, Type: Enhancement, Status: Review Needed, Priority: High, Component: Backend

#443 Mobile: Like Post
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/Main.js
  mobile/CmpE451_App/src/screen/PostDetail.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#450 swagger-update
  backend/resource/swagger.json
Labels: Type: Documentation, Status: Review Needed, Priority: High, Component: Backend

#458 Mobile: View and Create Comments
  mobile/CmpE451_App/src/component/Comment.js
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/screen/Main.js
  mobile/CmpE451_App/src/screen/PostDetail.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#427 Implementation for Web: Community Accept/Reject/Join/Leave/Kick Components
  web/.gitignore
  web/package-lock.json
  web/package.json
  web/public/favicon.ico
  web/src/App.js
  web/src/components/AboutCommunity.js
  web/src/components/CommunityModeration.js
  web/src/components/CreateCommunity.js
  web/src/components/CreatePost.js
  web/src/components/CreatePostType.js
  web/src/components/GetCommunities.js
  web/src/components/NavBar.js
  web/src/components/ProfileEdit.js
  web/src/pages/CreatePostTypePage.js
  web/src/pages/GetCommunityPage.js
  web/src/pages/ProfilePage.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Feature, Status: Review Needed, Priority: Medium, Component: Web

#466 Cannot read property '_id' - bug fix
  backend/src/controllers/profile.controller.js
  backend/src/services/profile.service.js
Labels: Status: Review Needed, Priority: High, Component: Backend

#460 Mobile: Search bar component
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/component/SearchBar.js
  mobile/CmpE451_App/src/screen/Main.js
Labels: Type: Feature, Priority: High, Component: Mobile

#470 Mobile: Implementing Searching Community Functionality
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/component/SearchBar.js
  mobile/CmpE451_App/src/component/SearchResult.js
  mobile/CmpE451_App/src/screen/Search.js
  mobile/CmpE451_App/src/services/BoxyClient.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Feature, Priority: Medium, Component: Mobile

#471 Backend: Wikidata Endpoint Implementation
  backend/src/controllers/wikidata.controller.js
  backend/src/routes/index.js
  backend/src/routes/wikidata.route.js
  backend/src/services/post.service.js
Labels: Type: Feature, Status: Review Needed, Priority: High, Component: Backend

#474 Backend: tags structure renew
  backend/src/models/post.js
  backend/src/services/post.service.js
  backend/src/validations/post.validation.js
Labels: Type: Enhancement, Status: Review Needed, Priority: High, Component: Backend

#469 Implementation for Web: Community Specific Search
  web/package-lock.json
  web/package.json
  web/src/GetPostTypes
  web/src/components/AboutCommunity.js
  web/src/components/CommunityModeration.js
  web/src/components/CreateCommunity.js
  web/src/components/CreatePostType.js
  web/src/components/GetPostTypes.js
  web/src/components/NavBar.js
  web/src/components/PostView.js
  web/src/components/User
  web/src/pages/GetCommunityPage.js
  web/src/pages/HomePage.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Feature, Status: Review Needed, Priority: Medium, Component: Web

#468 Implement tags for viewing posts
  web/package-lock.json
  web/package.json
  web/src/GetPostTypes
  web/src/components/PostView.js
  web/src/components/User
  web/src/pages/HomePage.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Feature, Status: Review Needed, Priority: Medium, Component: Web

#473 Mobile: Searching User Functionality
  mobile/CmpE451_App/src/component/SearchResult.js
  mobile/CmpE451_App/src/screen/Search.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#478 Backend: Allow empty search and return post type name
  backend/src/services/post.service.js
  backend/src/services/postType.service.js
  backend/src/utils/formatters.js
  backend/src/validations/community.validation.js
  backend/src/validations/post.validation.js
  backend/src/validations/postType.validation.js
  backend/src/validations/profile.validation.js
Labels: Type: Feature, Type: Enhancement, Status: Review Needed, Priority: High, Component: Backend

#486 Mobile: Add recommended communities to search page
  mobile/CmpE451_App/src/screen/Search.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#487 Mobile: Recommend Users
  mobile/CmpE451_App/src/screen/OtherUserProfile.js
  mobile/CmpE451_App/src/screen/Search.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#489 Backend/feature/advanced search
  backend/resource/swagger.json
  backend/src/controllers/post.controller.js
  backend/src/routes/post.route.js
  backend/src/services/post.service.js
  backend/src/validations/post.validation.js
Labels: Priority: High, Component: Backend

#483 Backend: Activity Stream Implemented
  backend/src/models/activityStream.js
  backend/src/models/activityStream/commentACS.js
  backend/src/models/activityStream/communityACS.js
  backend/src/models/activityStream/postACS.js
  backend/src/models/activityStream/postTypeACS.js
  backend/src/models/activityStream/userACS.js
  backend/src/models/index.js
  backend/src/services/auth.service.js
  backend/src/services/community.service.js
  backend/src/services/post.service.js
  backend/src/services/postType.service.js
  backend/src/services/profile.service.js
  backend/src/validations/custom.validation.js
Labels: Type: Feature, Status: Review Needed, Priority: High, Component: Backend

#480 Update tag routes and post viewing
  web/src/components/PostView.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Enhancement, Status: Review Needed, Priority: Medium, Component: Web

#490 Mobile: Advanced Post Search
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/component/CommonTextInput.js
  mobile/CmpE451_App/src/component/DynamicDateTimePickerInterval.js
  mobile/CmpE451_App/src/component/DynamicFormFieldInterval.js
  mobile/CmpE451_App/src/component/DynamicLocationInput.js
  mobile/CmpE451_App/src/component/HomeButton.js
  mobile/CmpE451_App/src/component/MapInput.js
  mobile/CmpE451_App/src/component/SearchBar.js
  mobile/CmpE451_App/src/image/index.js
  mobile/CmpE451_App/src/image/tag.png
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/CommunitySearch.js
  mobile/CmpE451_App/src/screen/SelectPostType.js
  mobile/CmpE451_App/src/services/BoxyClient.js
  mobile/CmpE451_App/src/services/WikiDataClient.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Feature, Priority: Medium, Component: Mobile

#491 Web: Comment Features Implementation
  web/package-lock.json
  web/src/components/CommentView.js
  web/src/components/PostView.js
  web/src/pages/GetPostPage.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Feature, Status: Review Needed, Priority: High, Component: Web

#493 Mobile: View Advanced Search Posts Results
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/component/DynamicDateTimePickerInterval.js
  mobile/CmpE451_App/src/component/DynamicLocationInput.js
  mobile/CmpE451_App/src/component/FieldHeader.js
  mobile/CmpE451_App/src/component/MapInput.js
  mobile/CmpE451_App/src/image/index.js
  mobile/CmpE451_App/src/image/notFound.png
  mobile/CmpE451_App/src/screen/CommunitySearch.js
  mobile/CmpE451_App/src/screen/PostDetail.js
  mobile/CmpE451_App/src/screen/PostSearchResults.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: High, Component: Mobile

#494 Implementation for Web: Post Creation Tags
  web/src/components/CreatePost.js
  web/src/components/CreatePostType.js
  web/src/components/GetPostTypes.js
  web/src/components/PostView.js
  web/src/components/ProfileEdit.js
  web/src/store/axios.js
Labels: Type: Feature, Status: Review Needed, Priority: Medium, Component: Web

#496 makes advanced search start and end variables optional
  backend/src/services/post.service.js
  backend/src/validations/post.validation.js
Labels: Priority: Severe, Component: Backend

#498 Backend: Remove like endpoint
  backend/src/controllers/post.controller.js
  backend/src/routes/post.route.js
  backend/src/services/post.service.js
  backend/src/validations/post.validation.js
Labels: Type: Feature, Status: Review Needed, Priority: High, Component: Backend

#502 Backend: likeCount update fix
  backend/src/services/post.service.js
Labels: Type: Enhancement, Status: Review Needed, Component: Backend

#503 Backend: createdAt field is added to the comments
  backend/src/utils/formatters.js
Labels: Type: Enhancement, Status: Review Needed, Priority: High, Component: Backend

#501 Mobile: Basic Post Search
  mobile/CmpE451_App/src/screen/CommunitySearch.js
  mobile/CmpE451_App/src/screen/PostSearchResults.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#505 Backend: Swagger doc update
  backend/resource/swagger.json
Labels: Type: Documentation, Status: Review Needed, Priority: Medium, Component: Backend

#507 Implementation for Web: Advanced Post Search
  web/src/components/AboutCommunity.js
  web/src/components/CreatePost.js
  web/src/components/PostFilter.js
  web/src/pages/GetCommunityPage.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Feature, Status: Review Needed, Priority: Medium, Component: Web

#513 Backend: Notification Endpoint
  backend/src/controllers/profile.controller.js
  backend/src/routes/profile.route.js
  backend/src/services/community.service.js
  backend/src/services/profile.service.js
  backend/src/utils/formatters.js
Labels: Type: Feature, Status: Review Needed, Priority: High, Component: Backend

#516 Enhancement for Web: Comments Design
  web/src/components/CommentView.js
  web/src/pages/GetPostPage.js
Labels: Type: Enhancement, Type: Design, Status: Review Needed, Priority: Medium, Component: Web

#514 Backend: Notifications now have objects and actors
  backend/src/models/activityStream/commentACS.js
  backend/src/models/activityStream/communityACS.js
  backend/src/models/activityStream/postACS.js
  backend/src/models/activityStream/postTypeACS.js
  backend/src/models/activityStream/userACS.js
  backend/src/services/profile.service.js
  backend/src/utils/formatters.js
Labels: Type: Enhancement, Status: Review Needed, Priority: High, Component: Backend
