Repository bounswe/2021SpringGroup3, pull requests merged in 2022-01, with the labels that each got.

#525 Mobile: Add Community ID to Like Post Request
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/screen/PostDetail.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Enhancement, Priority: High, Component: Mobile

#520 Implementation for Web: Community Notifications / Activity Stream
  web/src/components/CommentView.js
  web/src/components/NavBar.js
  web/src/components/NotificationView.js
  web/src/components/PostView.js
  web/src/pages/NotificationsPage.js
  web/src/routing/RouteList.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Feature, Status: Review Needed, Priority: Medium, Component: Web

#528 Mobile: Unlike Post
  mobile/CmpE451_App/src/component/CommunityPosts.js
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#531 Mobile: Update the name of the date field in comments
  mobile/CmpE451_App/src/component/PostDetail.js
Labels: Type: Enhancement, Component: Mobile

#533 Backend: SortBy added in advanced search
  backend/src/controllers/post.controller.js
  backend/src/validations/post.validation.js
Labels: Type: Enhancement, Status: Review Needed, Priority: High, Component: Backend

#536 Mobile: Change Password
  mobile/CmpE451_App/src/screen/Settings.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#537 Mobile: Add alert before deleting account
  mobile/CmpE451_App/src/screen/Settings.js
Labels: Type: Enhancement, Priority: Medium, Component: Mobile

#538 Backend: check if community creator null - bug fix
  backend/src/utils/formatters.js
Labels: Type: Enhancement, Status: Review Needed, Priority: High, Component: Backend

#539 Backend: Pending followers fix
  backend/src/utils/formatters.js
Labels: Type: Enhancement, Status: Review Needed, Priority: High, Component: Backend

#541 Backend/feature/milestone3 additions
  backend/src/services/profile.service.js
  backend/src/utils/formatters.js
Labels: Priority: High, Component: Backend

#542 Implementation for Web: User Follow Accept / Reject / Follow / Unfollow
  web/src/components/AboutCommunity.js
  web/src/components/CommunityModeration.js
  web/src/components/NotificationView.js
  web/src/components/ProfileEdit.js
  web/src/components/ProfileModeration.js
  web/src/components/ProfileView.js
  web/src/pages/GetCommunityPage.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Feature, Priority: Medium, Component: Web

#543 Implementation of dislike feature & like dislike fix
  web/src/components/PostView.js
  web/src/store/axios.js
  web/src/store/urls.js
  web/src/utils/helper.js
Labels: Type: Feature, Type: Enhancement, Status: Review Needed, Priority: High, Component: Web

#544 Mobile: User Follow Unfollow
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/src/screen/OtherUserProfile.js
  mobile/CmpE451_App/src/screen/Profile.js
  mobile/CmpE451_App/src/services/BoxyClient.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Feature, Priority: Medium, Component: Mobile

#548 Mobile: Sorting Posts
  mobile/CmpE451_App/src/component/CommonIcon.js
  mobile/CmpE451_App/src/component/HomeButton.js
  mobile/CmpE451_App/src/component/SearchBar.js
  mobile/CmpE451_App/src/component/SwitchButton.js
  mobile/CmpE451_App/src/screen/CommunitySearch.js
  mobile/CmpE451_App/src/screen/PostSearchResults.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#550 Mobile: Add status bar
  mobile/CmpE451_App/App.js
Labels: Type: Enhancement, Priority: Low, Component: Mobile

#546 Mobile: Approve / Reject Follow Requests
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/AppNavigator.js
  mobile/CmpE451_App/src/screen/PendingRequestsFollow.js
  mobile/CmpE451_App/src/screen/Profile.js
  mobile/CmpE451_App/src/services/BoxyClient.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Feature, Component: Mobile

#552 Mobile: Home Page Updated
  mobile/CmpE451_App/src/screen/Home.js
  mobile/CmpE451_App/src/screen/Main.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Enhancement, Component: Mobile

#556 Mobile: Snapshot and Component Testing
  mobile/CmpE451_App/__mocks__/@react-native-async-storage/async-storage.js
  mobile/CmpE451_App/__tests__/App-test.js
  mobile/CmpE451_App/__tests__/CreateCommunity.test.js
  mobile/CmpE451_App/__tests__/CreatePost.test.js
  mobile/CmpE451_App/__tests__/CreatePostType.test.js
  mobile/CmpE451_App/__tests__/Login.test.js
  mobile/CmpE451_App/__tests__/SearchBar.test.js
  mobile/CmpE451_App/__tests__/SearchResult.test.js
  mobile/CmpE451_App/__tests__/Settings.test.js
  mobile/CmpE451_App/__tests__/__snapshots__/CreateCommunity.test.js.snap
  mobile/CmpE451_App/__tests__/__snapshots__/CreatePost.test.js.snap
  mobile/CmpE451_App/__tests__/__snapshots__/CreatePostType.test.js.snap
  mobile/CmpE451_App/__tests__/__snapshots__/Login.test.js.snap
  mobile/CmpE451_App/__tests__/__snapshots__/Settings.test.js.snap
  mobile/CmpE451_App/babel.config.js
  mobile/CmpE451_App/jest.config.js
  mobile/CmpE451_App/jestSetupFile.js
  mobile/CmpE451_App/package-lock.json
  mobile/CmpE451_App/package.json
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/component/SearchResult.js
  mobile/CmpE451_App/src/screen/Login.js
  mobile/CmpE451_App/src/screen/UpdateCommunity.js
  mobile/CmpE451_App/src/services/BoxyClient.js
  mobile/CmpE451_App/src/util/Requests.js
  mobile/CmpE451_App/yarn.lock
Labels: Type: Testing, Priority: High, Component: Mobile

#557 Mobile: Delete Post
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/screen/Community.js
  mobile/CmpE451_App/src/screen/CreatePost.js
  mobile/CmpE451_App/src/screen/Main.js
  mobile/CmpE451_App/src/screen/PostDetail.js
  mobile/CmpE451_App/src/screen/PostSearchResults.js
  mobile/CmpE451_App/src/screen/Profile.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#559 Mobil: Adding Tests for URL methods and converters
  mobile/CmpE451_App/__tests__/BoxyClient.test.js
  mobile/CmpE451_App/__tests__/CommunitySearch.test.js
  mobile/CmpE451_App/src/screen/CommunitySearch.js
  mobile/CmpE451_App/src/services/BoxyClient.js
Labels: Type: Testing, Priority: Medium, Component: Mobile

#566 Backend: Bug fixes
  backend/src/models/community.js
  backend/src/services/post.service.js
Labels: Type: Enhancement, Status: Review Needed, Priority: Severe, Component: Backend

#570 Mobile: Follow privacy
  mobile/CmpE451_App/src/screen/ProfileSettings.js
Labels: Component: Mobile

#573 Backend: profilePhoto fix
  backend/src/utils/formatters.js
Labels: Type: Enhancement, Type: Bug, Status: Review Needed, Priority: Severe, Component: Backend

#572 Mobile: Add Navigation to Profile from Post Detail
  mobile/CmpE451_App/src/component/PostDetail.js
Labels: Type: Feature, Priority: Medium, Component: Mobile

#576 Mobile: Add post type names to the posts
  mobile/CmpE451_App/src/component/CommunityPosts.js
  mobile/CmpE451_App/src/component/PostDetail.js
  mobile/CmpE451_App/src/screen/Main.js
  mobile/CmpE451_App/src/screen/PostDetail.js
Labels: Type: Enhancement, Priority: Medium, Component: Mobile

#577 Backend: Follow notification fix
  backend/src/services/profile.service.js
  backend/src/utils/formatters.js
Labels: Type: Bug, Status: Review Needed, Priority: Severe, Component: Backend

#580 Backend: followerCount bug fix
  backend/src/utils/formatters.js
Labels: Type: Bug, Status: Review Needed, Priority: Severe, Component: Backend

#581 Backend: delete post bug fix
  backend/src/services/post.service.js
Labels: Type: Bug, Status: Review Needed, Priority: Severe, Component: Backend

#587 Backend: acs JSON return API
  backend/src/controllers/acs.controller.js
  backend/src/routes/docs.route.js
  backend/src/services/acs.service.js
  backend/src/services/index.js
  backend/src/utils/formatters.js
Labels: Type: Documentation, Status: Review Needed, Priority: Severe, Component: Backend, Component: Milestone Report

#589 Documentation: Swagger Update
  backend/resource/swagger.json
Labels: Type: Documentation, Status: Review Needed, Component: Backend, Component: Milestone Report
